Source: yosh
Section: utils
Maintainer: Dzove855 <dzove855@yoctu.com>
Build-Depends: debhelper
Standards-Version: 0.6.9

Package: yosh
Architecture: all
Maintainer: Dzogovic Vehbo <dzove855@yoctu.com>
Priority: optional
Depends: jq, ldap-utils, openssl
Description: yosh (yoctu shell) - Micro Web Framework lib
